/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}



/*My CSS*/
html, body {
	background: #848484 url("pics/claude-monet-lilies.jpg");
	background-repeat: no-repeat;
	background-position:top center;
	margin::auto;
}

/*FOR MOBILE (480px)*/
@media only screen and (min-width: 30em){
	span
    {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ie-appearance: none;
		-webkit-text-size-adjust: 100%;
		-mox-text-size-adjust: 100%;
		-ie-text-size-adjust: 100%;
		text-size-adjust: 100%;
		display: block;
		margin: 0;
		margin-bottom: 20px;
		width: 100%;
		font-size: 1em;
    }

    input
	{
		-webkit-appearance: none;
		-moz-appearance: none;
		-ie-appearance: none;
		-webkit-text-size-adjust: 100%;
		-mox-text-size-adjust: 100%;
		-ie-text-size-adjust: 100%;
		text-size-adjust: 100%;
		display: static;
		margin: 0;
		text-align: center;
		width: 40%;
		font-size: 1em;
    }
}

#content
{
	background-color:#848484;
	opacity: 0.70;
	position:static;
	margin-left: auto;
	margin-right: auto;

	padding:5em;
	padding-bottom:9em;
	text-align: center;

	font-family: 'Open Sans Condensed', sans-serif;
}

#title
{
	font-family: 'Fredericka the Great', cursive;
	color:black;
	font-size: 37pt;
}

#info
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25pt;
}

input[type=text] 
{
	background-color:gainsboro;
	outline:none;
	
	font-size: 12pt;
	color:black;
	font-style: bold;
	
    padding:10px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus 
{
    border-color:#333;
}

input[type=submit] 
{
    background: transparent;
	
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 21pt;
	color:black;
	
    border:0 none;
    cursor:pointer;
}

#logo
{
	opacity: 1.0;
	width: 100px;
}

#logoText
{
	font-size: 8pt;
}